*{
    padding: 0;
    margin: 0;
    background: black;
}
/* heading 1 */
h1{
    color: teal;
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78px;

}
/* all table data */
td{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    border: black;
    padding: 5px;
}
/* table hover */
td:hover {
    transform: scale(1.1);
    border: 2px solid black;
}

/*for centering the table */
.table{
    margin-left: auto;
    margin-right: auto;
}

/* all colors used in table */
 .color1{
    background: #00b6bc;
    color:white;
}

.color2{
    background: #329090;
    color:white;
}
.color3{
    background: #1967c9;
    color:white;
}
.color4{
    background: #a1669f;
    color:white;
}
.color5{
    background: #f53951;
    color:white;
}
.color6{
    background: #f36d4a;
    color:white;
}
.color7{
    background: #849997;
    color:white;
}
.color8{
    background: #f5b659;
    color:white;
}
.color9{
    background: #00b6bc;
    color:white;
}
.color10{
    background: #58d06d;
    color:white;
}

.color11{
    background: #004e75;
    color:white;
}
.color12{
    background: #572e56;
    color:white;
}
/* for centering the text */
.center{
        display: flex;
        flex-direction: column;
         align-items: center;
        text-align: center;
}